.firsth {
    font-size: 30pt;
    color: #0078BC;
    opacity: 0.8;
    text-decoration: underline;
    font-style: italic;
    font-family:'Times New Roman', Times, serif ;
}
.para1 {
    font-size: 22pt;
    font-style: italic;
    font-family:'Times New Roman', Times, serif ;
    opacity: 0.8;
    
    
}
.para2 {
    font-size: 22pt;
    font-style: italic;
    font-family:'Times New Roman', Times, serif ;
    opacity: 0.8;
    
}
.para3 {
    font-size: 22pt;
    font-style: italic;
    font-family:'Times New Roman', Times, serif ;
    opacity: 0.8;
}

    
table { 
    border-width: 1px;
    border-style:outset; 
    border-color:#0078BC;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 15px #0078BC;
        
    }
td {
    border-width: 0px;
    border-style:outset; 
    border-color:#0078BC;
    border-top-left-radius: 20px;
    
}
  